body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b6e3b;
}
 .container {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

h1 {
text-align: center;
font-size: 36px;
margin-bottom: 30px;
color: #ffffff;
}

.recycling-level {
display: flex;
align-items: center;
margin-bottom: 40px;
justify-content: space-between;
}

.recycling-level img {
max-width: 200px;
margin-left: 40px;
}

.recycling-level .description {
flex: 1;
margin-left: 40px;
}

.recycling-level .recycling-symbol {
font-size: 24px;
margin-right: 10px;
align-self: flex-start;
color: #ffffff;
}

.recycling-level h2 {
font-size: 24px;
margin-bottom: 20px;
font-weight: bold;
color: #ffffff;
}

.recycling-level p {
line-height: 1.5;
font-size: 18px;
color: #ffffff;
}

.footer {
text-align: center;
margin-top: 50px;
font-size: 14px;
color: #ffffff;
}