html{
    box-sizing: border-box;
    font-size: 100%;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: #1b6e3b;
    color: #ffffff;
  }
h1{
    font-family: 'Adobe Jenson', serif;
    text-align: center;
    position: absolute;
    top: -0.5em;
    left: 1.4em;
    /*font-size: 60px*/
}
  #map {
    height: 600px;
    width: 70%;
    }

    header{
        border-bottom: 1px solid #E2E8F0;
    }
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}