html{
    box-sizing: border-box;
    font-size: 100%;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: #1b6e3b;
    color: #ffffff;
  }
  h1 {
    font-family: 'Adobe Jenson', serif;
    text-align: center;
    position: absolute;
    top: 0.5em;
    left: 0;
  }
  h2 {
    text-align: center;
    position: absolute;
    top: 0.5em;
    left: 0;
  }
  #map {
      width: 1500px;
      height: 750px;
    }

